@model ShopKnitting.Models.ProductModel

@{
    ViewData["Title"] = "Details";
}

<h1>Автомобиль</h1>

<div>
    <h4>Просмотр карточки автомобиля</h4>
    <hr />
    <div class="block-container row">
        <div class="row flex-space-between">
            <div class="col rect-img-container flex-left" style="margin-right: 20px;">
                @if (Model.Images == null || Model.Images.Path == "" @*||
            !System.IO.File.Exists(ViewBag.WebRootPath + "/productImg/" + Model.Images.Path)*@)/* D:\Документы(D)\Студия проекты\ShopKnitting\wwwroot\productImg\Crown.jpg*/
                {
                    <img src='@Url.Content("~/servicedata/")defaultNoPic.png' class="rect-img img-border-circle img-shadow" 
                         style="padding: 10px; max-height:600px;" alt="...">
                }
                else
                {
                    <img src='@Url.Content("~/productImg/")@Model.Images.Path' class="rect-img img-border-circle img-shadow img-fluid"
                         style="padding: 10px; height: auto;" alt="...">
                }
            </div>
            <div class="col" style="position: relative;">
                <div class="form-group row">
                    <label class="col-2">
                        <strong>@Html.DisplayNameFor(model => model.Brand)</strong>
                    </label>
                    <label class="col">
                        @Html.DisplayFor(model => model.Brand.Name)
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-2">
                        <strong>@Html.DisplayNameFor(model => model.Model)</strong>
                    </label>
                    <label class="col">
                        @Html.DisplayFor(model => model.Model)
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-2">
                        <strong>@Html.DisplayNameFor(model => model.Year)</strong>
                    </label>
                    <label class="col">
                        @Html.DisplayFor(model => model.Year)
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-2">
                        <strong>@Html.DisplayNameFor(model => model.CarBody)</strong>
                    </label>
                    <label class="col">
                        @Html.DisplayFor(model => model.CarBody)
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-2">
                        <strong>@Html.DisplayNameFor(model => model.Description)</strong>
                    </label>
                    <label class="col">
                        @Html.DisplayFor(model => model.Description)
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-2">
                        <strong>@Html.DisplayNameFor(model => model.Cost)</strong>
                    </label>
                    <label class="col">
                        @Html.DisplayFor(model => model.Cost)₽
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-2">
                        <strong>@Html.DisplayNameFor(model => model.CountInStack)</strong>
                    </label>
                    <label class="col">
                        @Html.DisplayFor(model => model.CountInStack)
                    </label>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Изменить ✏</a> |
        <a asp-action="Index">Перейти к списку автомобилей</a>
    </div>
