@model ShopKnitting.Models.ProductModel

@{
    ViewData["Title"] = "Details";
}

<h1>Автомобиль</h1>

<div>
    <h4>Просмотр карточки автомобиля</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model.Brand.Name
        </dt>
        <dr />
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Id)
        </dd>
        <dr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarBody)
        </dd>
        <dr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountInStack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountInStack)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить ✏</a> |
    <a asp-action="Index">Перейти к списку автомобилей</a>
</div>
