@model IEnumerable<ShopKnitting.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Список автомобилей</h1>

<p>
    <a asp-action="Create">Добавить автомобиль</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountInStack)
            </th>
            <th style="width:max-content;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @item.Brand.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountInStack)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">✏</a> |
                <a asp-action="Details" asp-route-id="@item.Id">👁</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">🗑</a>
            </td>
        </tr>
}
    </tbody>
</table>
