@model ShopKnitting.Models.HelpModels.ProductListModel;
@using System.ComponentModel.DataAnnotations;
@{
    ViewData["Title"] = "Home Page";
}
    
<div class="text-center">
    <div class="col-7 gap-4 flex-left">
        <form class="d-flex" asp-action="Search" asp-controller="Home" method="post">
            <input class="form-control me-1" type="search" placeholder="Поиск" aria-label="Search" name="searchString">
            <button class="btn btn-primary" type="submit">
                🔍
            </button>
        </form>
    </div>
    <div class="block-container d-flex justify-content-end">

        <div class="flex-left">
            <a asp-controller="Product" asp-action="Create" class="btn btn-outline-primary">
                <i class="bi bi-car-front"></i>
                Добавить товар
            </a>
        </div>
        <div class="flex-right">
            <a asp-controller="Basket" asp-action="Index"
               class="btn btn-outline-primary position-relative" style="margin-left: 2.5px;">
                <i class="bi bi-basket"></i>
                Корзина
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                      id="_totalProductCount" hidden="@ViewBag.TotalProductHidden">
                    <span id="totalProductCount">@ViewBag.TotalProduct</span>
                </span>
            </a>
        </div>
    </div>
    <br />
    <br />

    @using Newtonsoft.Json
    @if (Model.ProductList.Count() == 0)
    {
        <div class="alert alert-light" role="alert">
            В данный момент в магазине отсутствуют товары. Ждем вас позже ⌛
        </div>
    }
    else
    {
        <div class="block-container row">
            @foreach (var productModel in Model.ProductList)
            {
                <div class="col-md-3 col-sm-4">
                    <div class="card in-card h-100">
                        <p>@Url.Content("~/servicedata/")defaultNoPic.png  @ViewBag.WebRootPath\servicedata\@productModel.Images.Path</p>
                        @if (productModel.Images == null || productModel.Images.Path == "" @*||
                              !System.IO.File.Exists(ViewBag.WebRootPath + "/servicedata/" + productModel.Images.Path)*@)/* D:\Документы(D)\Студия проекты\ShopKnitting\wwwroot\productImg\Crown.jpg*/
                        {
                            <img src='@Url.Content("~/servicedata/")defaultNoPic.png' class="card-img-top"
                                 style="aspect-ratio: 1/1;" alt="...">
                        }
                        else
                        {
                            <img src='@Url.Content("~/servicedata/")@productModel.Images.Path' class="card-img-top"
                                 style="aspect-ratio: 1/1;" alt="...">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@productModel.Brand.Name @productModel.Model</h5>
                            <label class="card-text flex-nowrap" style="white-space: nowrap;"><em>Тип кузова: @((productModel.CarBody.GetType().GetMember(@productModel.CarBody.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault() as DisplayAttribute)?.GetName())</em></label>
                            <p class="card-text fs-5 ">
                                <span class="text-strip">
                                    Цена: <strong>@productModel.Cost₽</strong>
                                </span>
                            </p>
                            <div class="flex-space-between">
                                <a asp-action="Details" asp-controller="Product" asp-route-id="@productModel.Id"
                                   role="button" class="btn btn-primary">
                                    @*<i class="bi bi-eye"></i>*@
                                    Посмотреть
                                </a>
                                <button class="btn btn-primary" onclick="addProductToBasket(@(JsonConvert.SerializeObject(productModel)));">
                                    <i class="bi bi-cart4"></i>
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
    <script>

        window.onload = function () {
            getBasketProductCount();
        }
        
        function addProductToBasket(product) {
            axios.post('/Basket/AddProductToBasket', {
                product_id: product.Id
            });
            getBasketProductCount();
        }

        function checkHashAfterRedirect() {
            var windowHash = window.location.hash;
            if (windowHash === '#successDelete') {
                toastr.success('Продукт был успешно удален.', 'Успех');
            } else if (windowHash === '#errorDelete') {
                toastr.error('При удалении произошла какая-то ошибка.', 'Ошибка');
            }

            removeHash();
        }

        function removeHash() {
            history.pushState("", document.title, window.location.pathname + window.location.search);
        }

        async function getBasketProductCount() {
            await axios.get('/Basket/GetBasketProductCount', {})
                .then(function (response) {
                    if (response.data) {
                        if (document.getElementById("_totalProductCount").hidden) {
                            document.getElementById("_totalProductCount").hidden = false;
                        }

                        document.getElementById("totalProductCount").textContent = response.data;
                    } else {
                        toastr.error('', 'Ошибка');
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        }


    </script>
