@model ShopKnitting.Models.HelpModels.ProductListModel;
@using System.ComponentModel.DataAnnotations;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="block-container d-flex justify-content-end">
        <div class="flex-left">
            @*@{
                    if (SignInManager.IsSignedIn(User) && @UserManager.GetUserAsync(User).Result.IsAdmin)
                    {
                        <a asp-controller="Product" asp-action="New" class="btn btn-outline-primary">
                            <i class="bi bi-folder-plus"></i>
                            Добавить товар
                        </a>
                    }
                }*@
            <a asp-controller="Product" asp-action="Create" class="btn btn-outline-primary">
                <i class="bi bi-car-front"></i>
                Добавить товар
            </a>
        </div>
        <div class="flex-right">
            @*<a class="btn btn-outline-primary" style="margin-right: 2.5px;"
                   onclick="showHideFilters();" id="openCloseFilterButton">
                    <i class="bi bi-funnel"></i>
                    Фильтры
                </a>*@
            <a asp-controller="Basket" asp-action="Index"
               class="btn btn-outline-primary position-relative" style="margin-left: 2.5px;">
                <i class="bi bi-basket"></i>
                Корзина
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                      id="_totalProductCount" hidden="@ViewBag.TotalProductHidden">
                    <span id="totalProductCount">@ViewBag.TotalProduct</span>
                </span>
            </a>
        </div>
    </div>

    @*<div class="block-container row" id="filters" onchange="validFilterParameters();" hidden="@ViewBag.filterHidden">
            <div class="flex-left">
                <h2 class="Inter-SemiBold">Фильтры:</h2>
            </div>

            <div class="col-2">
                <label for="filterBrandSelect" class="form-label flex-left">Бренд:</label>
                <select asp-items="@ViewBag.BrandList" id="filterBrandSelect"
                        class="form-select" aria-label="Default select example">
                    <option value="-1" selected>Не выбран</option>
                </select>
            </div>
            <div class="col-2">
                <label for="filterCharacteristicSelect" class="form-label flex-left">Параметр:</label>
                <select asp-items="@ViewBag.CharacteristicList" id="filterCharacteristicSelect"
                        class="form-select" aria-label="Default select example">
                    <option value="NoSelect" selected>Не выбран</option>
                </select>
            </div>
            <div class="col-2 position-relative">
                <label for="filterCharacteristicName" class="form-label flex-left">Значение</label>
                <input type="text" class="form-control" disabled="@ViewBag.CharacteristicDisabled" value="@ViewBag.CharacteristicName"
                       id="filterCharacteristicName" placeholder="...">
                <div class="invalid-tooltip">
                    Не оставляйте это поле пустым при выбранном параметре!
                </div>
            </div>
            <div class="col-2">
                <label for="filterCategoriesSelect" class="form-label flex-left">Катергория:</label>
                <select asp-items="@ViewBag.CategoriesList" id="filterCategoriesSelect"
                        class="form-select" aria-label="Default select example">
                    <option value="NoSelect" selected>Не выбран</option>
                </select>
            </div>
            <div class="col-4">
                <label for="filterButton" class="form-label flex-left">&nbsp;</label>
                <div class="flex-right" id="filterButton">
                    <a class="btn btn-outline-primary" style="margin-right: 2.5px;"
                       onclick="makeFilter();">
                        <i class="bi bi-sliders"></i>
                        Применить
                    </a>
                    <a class="btn btn-outline-secondary" style="margin-left: 2.5px;"
                       asp-action="Index" asp-controller="Home">
                        <i class="bi bi-stars"></i>
                        Сбросить
                    </a>
                </div>

            </div>
        </div>*@
    @using Newtonsoft.Json
    @if (Model.ProductList.Count() == 0)
    {
        <div class="alert alert-light" role="alert">
            В данный момент в магазине отсутствуют товары. Ждем вас позже ⌛
        </div>
    }
    else
    {
        <div class="block-container row">
            @foreach (var productModel in Model.ProductList)
            {
                <div class="col-md-3 col-sm-4">
                    <div class="card in-card h-100">
                        @if (productModel.Images == null || productModel.Images.Path == "" ||
            !System.IO.File.Exists(ViewBag.WebRootPath + "/productImg11/" + productModel.Images.Path))/* D:\Документы(D)\Студия проекты\ShopKnitting\wwwroot\productImg1\Crown.jpg*/
                        {
                            <img src='@Url.Content("~/servicedata/")defaultNoPic.png' class="card-img-top"
                                 style="aspect-ratio: 1/1;" alt="...">
                        }
                        else
                        {
                            <img src='@Url.Content("~/productImg1/")@productModel.Images.Path' class="card-img-top"
                                 style="aspect-ratio: 1/1;" alt="...">
                        }
                    <div class="card-body">
                        <h5 class="card-title">@productModel.Brand.Name @productModel.Model</h5>
                        <label class="card-text flex-nowrap" style="white-space: nowrap;"><em>Тип кузова: @((productModel.CarBody.GetType().GetMember(@productModel.CarBody.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault() as DisplayAttribute)?.GetName())</em></label>
                        <p class="card-text fs-5 ">
                            <span class="text-strip">
                                Цена: <strong>@productModel.Cost₽</strong>
                        </span>
                        </p>
                        <div class="flex-space-between">
                            <a asp-action="Details" asp-controller="Product" asp-route-id="@productModel.Id"
                               role="button" class="btn btn-primary">
                                @*<i class="bi bi-eye"></i>*@
                                Посмотреть
                            </a>
                            <button class="btn btn-primary" onclick="addProductToBasket(@(JsonConvert.SerializeObject(productModel)));">
                                <i class="bi bi-cart4"></i>
                                В корзину
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<script>

    checkHashAfterRedirect();

    function addProductToBasket(product) {
        axios.post('/Basket/AddProductToBasket', {
            product_id: product.Id
        });
    }

    function checkHashAfterRedirect() {
        var windowHash = window.location.hash;
        if (windowHash === '#successDelete') {
            toastr.success('Продукт был успешно удален.', 'Успех');
        } else if (windowHash === '#errorDelete') {
            toastr.error('При удалении произошла какая-то ошибка.', 'Ошибка');
        }

        removeHash();
    }

    function removeHash() {
        history.pushState("", document.title, window.location.pathname + window.location.search);
    }

    
</script>